<mat-toolbar>
    Leave Management Dashboard
</mat-toolbar>
ss:{{selectedTab}}
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <button mat-button class="menu-button" (click)="goToPage('dashboard')">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
        <button mat-button class="menu-button" (click)="goToPage('leave-management')">
            <mat-icon>info</mat-icon>
            <span>Leave Management</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content *ngIf="selectedTab == 'dashboard'">
        <div class="content mat-elevation-z4">

            <app-staff-dashboard></app-staff-dashboard>
        </div>
    </mat-sidenav-content>
    <mat-sidenav-content *ngIf="selectedTab == 'leave-management'">
        <div class="content mat-elevation-z4">

            <app-leave-management></app-leave-management>

        </div>
    </mat-sidenav-content>
    <mat-sidenav-content *ngIf="selectedTab == 'leaveManagement'">
        <div class="content mat-elevation-z4">
            leave
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>